<footer class="section footer-section">
  <div class="container footer-container">
    <div class="footer-wrap">
      <div class="footer-container-one">
        <a href="./index.html" class="logo-footer">
          <svg class="icon-logo" width="168" height="16">
            <use href="img/logo.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-container-two">
        <nav class="footer-navigation">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a class="footer-navigator" href="#how-it-works">How It Works</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-navigator" href="#vegetables">Vegetables</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-navigator" href="#reviews">Reviews</a>
            </li>
          </ul>
        </nav>
        <address class="footer-contacts">
          <ul class="footer-contacts-list">
            <li class="contacts-item phone-link">
              <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
            <li class="contacts-item adress-link">
              <a href="https://maps.app.goo.gl/8TEWQtBPdziXCSid7">
                1678 S. Pioneer Road Salt Lake City UT 84104
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>

    <div class="footer-privacy">
      <ul class="footer-privacy-list">
        <li class="footer-privacy-item">
          <a class="privacy-link" href="#">Privacy Policy</a>
        </li>
        <li class="footer-privacy-item">/</li>
        <li>
          <a class="footer-privacy-item" href="#">Cookie settings </a>
        </li>
      </ul>

      <p class="footer-privacy-item">&copy; Green Harvest 2023</p>
    </div>
  </div>
</footer>
